@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    font-family: 'Hanna', serif;
}

.container { width: 250px; }
.row { display: flex; justify-content: center; }
.navbar-brand { margin-bottom: 3px; }
.carousel-item { width: 200px!important; }
a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}
.emoticon_text { width: 150px; }
.container .emoticon { padding: 0; width: 150px; }

@media (min-width: 768px) {
    .container { width: 750px; }
    .carousel-item { width: 200px!important; }
    a.anchor {
        display: block;
        position: relative;
        top: -150px;
        visibility: hidden;
    }
    .emoticon_text { width: 300px; }
    .container .emoticon { padding: 0; width: 300px; }
}

@media (min-width: 992px) {
    .container { width: 750px; }
    .carousel-item { height: 200px!important; }
    a.anchor {
        display: block;
        position: relative;
        top: -50px;
        visibility: hidden;
    }
    .emoticon_text { width: 300px; }
    .container .emoticon { padding: 0; width: 300px; }
}

@media (min-width: 1200px) {
    .container { width: 750px; }
    .carousel-item { height: 200px!important; }
    a.anchor {
        display: block;
        position: relative;
        top: -50px;
        visibility: hidden;
    }
    .emoticon_text { width: 300px; }
    .container .emoticon { padding: 0; width: 300px; }
}

.heart-icon { color: red; font-family: 'NanumGothic'; }

/* Text inside navbar items */
.nav-link {
    font-size: 2vmin;/*calc((-.3em + 1.2vmin) + (-.3em + 1.2vmax));*/
}

.container {
    text-align: center;
    position: relative;
    color: white;
}

/* Container holding the image and the text */
.main-image {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

/* Hello text in image */
.hello {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hello text in image */
.hello > h1 {
    font-size: 6vmin;/*calc((-.4em + 2.2vmin) + (-.4em + 2.2vmax));*/
}

/* Spacetime text in image */
.spacetime {
    margin-top: 50px; 
    color: black;
    display: flex; 
    justify-content: center;
}

.spacetime > h1 { font-size: 4vmin; }

.emoticon { margin-top: 30px; }
.greeting { margin-top: 50px; }
.greeting > h5 {
    font-size: 3vmin;
    line-height: 150%;
}

#gallery {
    margin-top: 50px;
}

