@charset "utf-8";

@font-face {
	font-family:"NanumGothic";
	src:url('/fonts/NanumGothic.eot');
	src:url('/fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NanumGothic.woff') format('woff'),
	    url('/fonts/NanumGothic.ttf') format('truetype');
    src:local(※), 
        url('/fonts/NanumGothic.woff') format('woff');
}
@font-face {
	font-family:"Jua";
	src:url('/fonts/Jua.eot');
	src:url('/fonts/Jua.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Jua.woff') format('woff'),
	    url('/fonts/Jua.ttf') format('truetype');
    src:local(※), 
        url('/fonts/Jua.woff') format('woff');
}

.container { width: 100%; padding: 0px; } /* Fit container width to device width */
.row { display: flex; justify-content: center; }
.navbar-brand { margin-bottom: 3px; }
a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}
.spacetime .content > h1 { font-size: 15px; }
.emoticon_text { width: 200px; margin: 0; }
.container .emoticon { padding: 0; margin-top:0px!important; margin-bottom:30px; width: 200px; display: block; margin-left: auto; margin-right: auto;}
.greeting { margin-top: 30px; }
.greeting > h5 { font-size: 13px; line-height: 150%; color:grey; }
.carousel-caption { padding: 0; font-size: 10px; color: black; 
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }
.carousel-caption > p { margin-bottom: 0px; }
.carousel-caption > h3 { padding: 0; margin: 0; font-size: 12px; color: black; font-weight: bold; }
.hello > h1 { font-size: 23px; color: #fee5e1; } /* Hello text in image */
.contact-person > a > img { width: 70px; }
.contact-person { font-size: 15px; color: black; }
.nav-link { font-size: 12px; padding: 2px; } /* Text inside navbar items */
ol.carousel-indicators { bottom: 0px; margin-bottom: 7px; }
.spacetime > path {
    width: 20; height: 20;
}

/* Daum map */
.location {
    margin: 0 auto;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
}
.map {
    width: 100%;
    height: 250px;
    align-self:center;
}
.map-url {
    margin-top: 10px;
    font-size: 15px;
}

/* Contacts */
.to-groom, .to-groom:active .to-groom:focus { 
    background-color: blue; 
    border-color: blue; 
    outline: blue; 
}
.to-groom:hover { background-color: #0062cc; }

.to-bride, .to-bride:active .to-bride:focus { 
    background-color: red; 
    border-color: red; 
    outline-color: red; 
}
.to-bride:hover { background-color: #dc3545; }

.facebook-button { background-color: #3f5b95; border-color: #3f5b95; }
.facebook-button > img { width: 20px; height: 20px; margin-bottom: 5px; margin-right: 10px; }

@media (min-width: 768px) {
    .container { width: 750px; }
    a.anchor {
        display: block;
        position: relative;
        top: -150px;
        visibility: hidden;
    }
    .spacetime .content > h1 { font-size: 40px; }
    .greeting > h5 { font-size: 30px; line-height: 150%; }
    .emoticon_text { width: 300px; }
    .container .emoticon { padding: 0; width: 300px; }
    .carousel-caption { font-size: 15px; }
    .carousel-caption > p { margin-bottom: 0px; }
    .carousel-caption > h3 { font-size: 18px; }
    .hello > h1 { font-size: 70px; } /* Hello text in image */
    .nav-link { font-size: 15px; padding: 2px; } /* Text inside navbar items */
    .contact-person > a > img { width: 100px; }
    .contact-person { font-size: 20px; }
    .map-url { font-size: 25px; }

    /* Daum map */
    .location {
        margin: 0 auto;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 15px;
    }
    .map {
        width: 80%;
        height: 400px;
        align-self:center;
    }

    /* Contacts */
    .to-groom, .to-groom:active .to-groom:focus { font-size: 25px; }
    .to-bride, .to-bride:active .to-bride:focus { font-size: 25px; }
    .to-bride:hover { background-color: #dc3545; }

    .facebook-button { font-size: 25px; }
    .facebook-button > img { width: 25px; height: 25px; margin-bottom: 7px; margin-right: 15px; }

}

@media (min-width: 992px) {
    .container { width: 750px; }
}

@media (min-width: 1200px) {
    .container { width: 750px; }
}

.heart-icon { color: red; }

.container {
    text-align: center;
    position: relative;
    color: white;
}

/* Container holding the image and the text */
.main-image {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

/* Hello text in image */
.hello {
    position: absolute;
    width: 100%;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Spacetime text in image */
.spacetime {
    margin-top: 50px; 
    color: black;
    display: flex; 
    justify-content: center;
}

.spacetime .title { margin-top: 0px; }
.spacetime .title > h1 { font-size: 5vmin; }
.spacetime .content { margin-top: 15px; }
.spacetime img { width: 4.5vmin; height: 4.5vmin; margin-bottom: 1vmin; margin-right: 0.5vmin; }

.emoticon { margin-top: 30px; }

.gallery-title { margin-top: 50px; }
.gallery-title > h1 { font-size: 5vmin; color:black; }
.gallery-title img { width: 4.5vmin; height: 4.5vmin; margin-bottom: 1vmin; margin-right: 0.5vmin; }

.location-title { margin-top: 50px; }
.location-title > h1 { font-size: 5vmin; color:black; }
.location-title img { width: 4.2vmin; height: 4.2vmin; margin-bottom: 0.2vmin; margin-right: 0.7vmin; }

.contacts-title { margin-top: 50px; }
.contacts-title > h1 { font-size: 5vmin; color:black; }
.contacts-title img { width: 4.2vmin; height: 4.2vmin; margin-bottom: 1vmin; margin-right: 0.5vmin; }

.dropdown-item img { width: 2vmin; height: 2vmin; margin-bottom: 0.1vmin; margin-right: 0.3vmin; }

#gallery-anchor {
    margin-top: 15px;
}

.contacts {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.dropdown > button {
    margin: 5px;
}

h3.popover-header {
    font-family: "Jua";
}

footer {
    display: flex;
    justify-content: center;
    margin: 0; padding: 20px;
    margin-top: 70px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #fae0dd;
}

.footer-items-wrapper {
    text-align: center;
}

.footer-item {
    height: 30px;
    line-height: 30px;
    margin: 0; padding: 0;
}