@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

.heart-icon { color: red; }


/* Text inside navbar items */
.nav-link {
    font-size: 2vmin;/*calc((-.3em + 1.2vmin) + (-.3em + 1.2vmax));*/
}

.container {
    text-align: center;
    position: relative;
    color: white;
}

/* Container holding the image and the text */
.main-image {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

/* Hello text in image */
.hello {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hello text in image */
.hello > h1 {
    font-size: 6vmin;/*calc((-.4em + 2.2vmin) + (-.4em + 2.2vmax));*/
}

/* Spacetime text in image */
.spacetime {
    margin-top: 50px; 
    color: black;
    display: flex; 
    justify-content: center;
}

.spacetime > h1 { font-size: 4vmin; }
